<div class="aboutMe-container">
  <div class="content-section">
    <div class="img-section">
      <img class="img" src="https://gustavo-personal-projects-bucket.s3.amazonaws.com/author-pics/gh_final.jpg"/>
    </div>
    <div class="text-section">
      <p class="title-1">Explore</p>
      <p class="title-2">About Me</p>
      <p class="description">
        My name is Gustavo Millanao, I am Full Stack Developer, I have
        experience in the area of web development for the private sector, I am
        passionate about new technologies such as Iot(Internet Of Things), Cloud
        Services and Cyber Security, I consider myself a proactive, responsible
        and friendly person.
      </p>
      <div class="btn-section">
        <a
          class="contact-btn"
          mat-button
          href="https://www.linkedin.com/in/gustavo-alexis-millanao-rain-483774207"
          target="_blank"
          >Contact Me<fa-icon
            [icon]="faLinkedin"
            size="3x"
            style="margin-left: 10px"
          ></fa-icon
        ></a>
      </div>
    </div>
  </div>
</div>
