.aboutMe-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  align-self: center;
  max-width: 1200px;
}

.content-section{
  max-height: 80%;
  display: flex;
  flex-direction: wrap;
}
.img-section {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 2%;
  display: flex;
  align-self: center;
}
.img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.text-section {
  margin: 4% 2% 4% 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.btn-section{

}
.title-1{
    color: rgb(96, 80, 230);
    letter-spacing: 6px;
}
.title-2{
    font-size: 25px;
}
.description{
    font-size: 15px;
}

.contact-btn{
    border: 2px solid white;
}