<div class="aboutMe-container">
  <div class="img-section">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
  </div>
  <div class="text-section">
    <div class="text-header">
      <p class="title-1">Explore</p>
      <p class="title-2">About Me</p>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
        ducimus, tenetur aperiam eos esse fuga, explicabo sint asperiores nemo
        quidem velit maiores ipsum delectus ullam harum inventore modi maxime.
        Voluptatem.
      </p>

      <button mat-button class="contact-btn">Contact Me</button>
    </div>
  </div>
</div>
