.welcome-section {
  height: 100vh;
  background: linear-gradient(to left, rgba(255, 0, 0, 0), black);
  display: flex;
  flex-direction: row;
  align-self: center;
}
@media (max-width: 720px) {
}

.content {
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.avatar-container{
  display: flex;
  align-self: center;
  margin-bottom: 25px;
}
.avatar-area{
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100%;
  background-image: url(./../../../assets/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.text-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
}


.home-title {
  display: inline;
  text-align: center;
  font-size: 4rem;
  margin: 0;
  line-height: 3.4rem;
}
.home-subtitle {
  display: inline;
  font-size: 1.5rem;
  color: rgb(96, 80, 230);
  letter-spacing: 6px;
  margin: 8px 0;
  text-align: center;
}
.seeMore {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  text-align: center;
  color: #31b5aa;
}
.seeMore p {
  display: inline;
  margin: auto 1px;
  text-align: center;
}