<div class="welcome-section">
  <div class="content">
    <div class="avatar-container">
      <img class="avatar-area" src="https://gustavo-personal-projects-bucket.s3.amazonaws.com/author-pics/lk_final.jpeg" alt="my profile photo"/>
    </div>
    <div class="text-container">
      <div class="home-title">
        <p>Gustavo Millanao</p>
      </div>
      <div class="home-subtitle">
        <p>Full Stack Developer</p>
      </div>
    </div>

    <div class="seeMore">
      <fa-icon [icon]="faArrowDown" size="3x"></fa-icon>
      <p>Leer Más</p>
    </div>
  </div>
</div>