.component-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component{
    margin: 20px 0;
}

.page-welcome{
    width: 100%;
}
.page-body{
    width: 80%;
    height: auto;
    padding: 0 10%;
    margin: 5% 0;
    text-align: center;
}