.page-welcome {
  width: 100%;
}

.home-component {
  width: 80%;
  margin: 5% auto;
}
.homePage-body {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 20px;
}
.content-section {
  height: auto;
  width: 100%;
  align-self: center;
}



