.card-container {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.card-component-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-component-header p {
  font-size: 20px;
  margin: auto 0;
  font-weight: bold;
}
.btn-more {
  border-bottom: 2px solid rgb(92, 77, 221);
}
.btn-more:hover {
  border-color: rgb(255, 255, 255);
}

/** General design for one project card */
.card {
  height: 380px;
  width: 220px;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.3);
  color: white !important;
}
.card:hover {
  box-shadow: 0 0 15px rgba(92, 77, 221, 0.8);
}
.card-body{
  padding: 0.5rem;
}

.card-alt{
  align-self: flex-start;
}
.card-body-alt{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.card-body-alt p{
  display: inline;
  margin: auto;
  font-size: 18px;
}
.card-btn-container{
  width: auto;
  padding-bottom: 5px;
  position: relative;
  bottom: 0px;
  left: 0px;
}
/** Card images  and avatar styles*/
.card-img-top{
  height: 180px;
  width: 100%;
  border-radius: 7% 7% 0% 0%;
  object-fit: cover;
}
.card-body-header{
  display: flex;
  flex-direction: row;
}
.project-avatar-container {
  width: 35px;
  height: 35px;
}
.project-avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: inline;
}
.card-title{
  display:inline;
  margin: auto 10px;
  font-size: 20px;
}
.card-subtitle{
  font-size: 15px;
  text-align: end;
}
.card-subtitle p{
  margin: 0;
  color: rgb(102, 85, 250);
}
.card-text{
  max-height: 80px;
  overflow-y: hidden;
}
.card-noReady {
  color: white;
  height: 100px;
  width: 80%;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card-noReady p {
  height: 20px;
  font-size: 20px;
}

/*
* card buttons actions styles
*/
mat-card-actions {
  padding-top: 0;
}
.btn-group {
  display: flex;
  justify-content: center;
  align-self: stretch;
  margin-bottom: 2px;
  bottom: 0px;
}
.card-btn {
  border: 1px solid;
  border-radius: 20px;
  margin-right: 5px;
}
.card-btn a {
  text-decoration: none;
  color: white;
}
.card-btn:hover {
  border-color: mediumaquamarine;
}
.demo-btn {
  color: rgb(1, 192, 1);
  border-color: rgb(0, 205, 0);
}
.code-btn {
  color: rgb(162, 61, 187);
  border-color: rgb(162, 61, 187);
}
