<div class="card-component-header">
  <p>Personal Projects</p>
  <button mat-button class="btn-more">Explore More</button>
</div>
<div class="card-container">
  <ng-container *ngIf="isReady; else noReady">

    <!-- carta que se mostrara por cada item que se encuentre al iterar -->

    <div class="card" *ngFor="let item of projects_data">
      <img class="card-img-top" src="{{item.img_url}}" alt="Card image cap">
      <div class="card-body">
        <div class="card-body-header">
          <div class="project-avatar-container">
            <img class="project-avatar-img" src="{{item.img_url}}">
          </div>
          <p class="card-title">{{item.name}}</p>
        </div>
        <div class="card-subtitle">
          <p> {{item.date}}</p>
        </div>
        <p class="card-text">{{item.description}}</p>
      </div>
      <div class="card-body">
        <button class="card-btn btn btn-outline btn-sm code-btn">
          <a href="{{item.code_source}}" target="_blank">Source Code</a>
          </button>

        <button class="card-btn btn btn-outline btn-sm demo-btn" [disabled]="enableDemo(item)">
          <a href="{{item.demo_source}}" target="_blank">Live Demo</a>
        </button>
      </div>
    </div>

    <div class="card card-alt">
      <div class="card-body-alt">
        <p>More coming soon...</p>
      </div>
    </div>

  </ng-container>

  <ng-template #noReady>
    <!-- Loading template -->
    <mat-card class="card-noReady">

      <p> Cargando proyectos...</p>
    </mat-card>
  </ng-template>

</div>