<div class="app">

  <mat-toolbar class="toolbar">
    <div class="toolbar-logo">

      <button mat-button routerLink="" class="home-link">
        <span class="toolbar-title">{{ title }}</span>
        <mat-icon class="logo-icon">code</mat-icon>
      </button>
    </div>
    <div class="toolbar-links">
      <button mat-button class="toolbar-item" (click)="goToWelcome()">
        <a> Home </a>
      </button>
      <button mat-button class="toolbar-item" (click)="goToExperience()">
        <a> Experience </a>
      </button>
      <button mat-button class="toolbar-item" (click)="goToSkills()">
        <a> Skills </a>
      </button>
      <button mat-button class="toolbar-item" (click)="goToProjects()">
        <a> Personal Projects </a>
      </button>
      <button mat-button class="toolbar-item" (click)="goToAboutMe()">
        <a> About Me </a>
      </button>
      <button mat-button class="toolbar-item">
        <a href="https://github.com/Gustavz7"> GitHub </a>
      </button>
    </div>

    <div class="toolbar-actions">

      <button mat-button class="toolbar-item toolbar-search">
        <mat-icon> search </mat-icon>
      </button>
      <a mat-button target="_blank" href="https://www.linkedin.com/in/gustavo-alexis-millanao-rain-483774207/" class="toolbar-item toolbar-principal-btn">
        <mat-icon>stars</mat-icon> Contact
      </a>
    </div>
  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <div class="footer-elements-group">
      <div class="footer-element element-principal">
        <div class="element-header-main">
          <span class="element-header-title">GuzDev</span>
        </div>
        <div class="element-text">
          <p>
            Esta aplicacion de portafolio fue construida con Angular 13 y es ofrecida a usted gracias a GitHubPages
          </p>
        </div>
        <div class="icons-list">
          <a href="http://www.facebook.com" target="_blank">
            <fa-icon [icon]="faFacebook" size="3x"></fa-icon>
          </a>
          <a href="http://www.instagram.com" target="_blank">
            <fa-icon [icon]="faInstagram" size="3x"></fa-icon>
          </a>
          <a href="http://www.discord.com" target="_blank">
            <fa-icon [icon]="faDiscord" size="3x"></fa-icon>
          </a>
          <a href="http://www.google.com" target="_blank">
            <fa-icon [icon]="faGoogle" size="3x"></fa-icon>
          </a>
        </div>
      </div>
      <div class="footer-element">
        <div class="element-header">
          <p>Contact</p>
        </div>
        <div class="element-links">
          <ul>
            <li><a href="https://www.linkedin.com/in/gustavo-alexis-millanao-rain-483774207/"
                target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/Gustavz7" target="_blank">GitHub</a></li>
            <li><a href="https://www.youtube.com/" target="_blank">Youtube</a></li>
            <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-element">
        <div class="element-header">
          <p>Topic</p>
        </div>
        <div class="element-links">
          <ul>
            <li><a (click)="goToExperience()">Experience</a></li>
            <li><a (click)="goToSkills()">Skills</a></li>
            <li><a (click)="goToProjects()">Projects</a></li>
            <li><a (click)="goToAboutMe()">About Me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
