<div class="app">
  <mat-toolbar class="toolbar">
    <div class="toolbar-logo">
      <!-- Here the logo and the title of the toolbar -->

      <button mat-button routerLink="" class="home-link">
        <span class="toolbar-title">{{ title }}</span>
        <mat-icon class="logo-icon">code</mat-icon>
      </button>
    </div>
    <div class="toolbar-links">
      <!-- Here the links and elements routes of the page -->

      <button mat-button class="toolbar-item"  (click)="goToWelcome()">
        <a> Home </a>
      </button>
      <button mat-button class="toolbar-item"  (click)="goToExperience()">
        <a> Experience </a>
      </button>
      <button mat-button class="toolbar-item" (click)="goToSkills()">
        <a> Skills </a>
      </button>
      <button mat-button class="toolbar-item" (click)="goToProjects()">
        <a> Personal Projects </a>
      </button>
      <button mat-button class="toolbar-item" (click)="goToAboutMe()">
        <a> About Me </a>
      </button>
    </div>

    <div class="toolbar-actions">
      <!-- Here the search and contact btn of the toolbar  -->

      <button mat-button class="toolbar-item toolbar-search">
        <mat-icon> search </mat-icon>
      </button>
      <button mat-button class="toolbar-item toolbar-principal-btn">
        <mat-icon> stars </mat-icon>
        <span>Contact</span>
      </button>
    </div>
  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="app-footer">
  <div class="footer-elements-group">
    <div class="footer-element element-principal">
      <div class="element-header">
        <mat-icon class="element-header-icon"> stars</mat-icon>
        <span class="element-header-title"> GuzDev </span>
      </div>
      <div class="element-text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
          alias blabla.
        </p>
      </div>
      <div class="icons-list">
        <a href="http://www.facebook.com" target="_blank">
          <fa-icon [icon]="faFacebook" size="3x"></fa-icon>
        </a>
        <a href="http://www.instagram.com" target="_blank">
          <fa-icon [icon]="faInstagram" size="3x"></fa-icon>
        </a>
        <a href="http://www.discord.com" target="_blank">
          <fa-icon [icon]="faDiscord" size="3x"></fa-icon>
        </a>
        <a href="http://www.google.com" target="_blank">
          <fa-icon [icon]="faGoogle" size="3x"></fa-icon>
        </a>
      </div>
    </div>
    <div class="footer-element">
      <div class="element-header">
        <p>Topic</p>
      </div>
      <div class="element-links">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-element">
      <div class="element-header">
        <p>Topic</p>
      </div>
      <div class="element-links">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-element">
      <div class="element-header">
        <p>Topic</p>
      </div>
      <div class="element-links">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-element">
      <div class="element-header">
        <p>Topic</p>
      </div>
      <div class="element-links">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
