<div class="experience-container">
  <div class="text-section">
    <div class="text-header">
      <p class="title-2">Experience history <b class="total-years">({{exp_total}})</b></p>
      <p class="title-1">
        My Personal experience between differents enterprices
      </p>
    </div>
  </div>

  <div class="cards-section">

    <div class="card" *ngFor="let item of exp_data">
      <div class="card-body">
        <P class="job-title"> {{item.job_name}}</P>
        <p class="date-title"> {{item.start_date | date:'mediumDate'}}</p>
        <span class="date-title"> - </span>
        <span class="date-title" *ngIf="isActualJob(item);else endDate"> Today </span>
        <ng-template #endDate> <span class="date-title">{{item.end_date | date:'mediumDate'}}</span></ng-template>
        <p class="total-time-title"> {{generateTotalTime(item)}} </p>
        <p class="company-title"> {{item.company_title}}</p>
        <img class="card-img" src="{{item.company_img}}" />
      </div>
    </div>

  </div>
</div>