<div class="experience-container">
  <div class="text-section">
    <div class="text-header">
      <p class="title-2">Experience history</p>
      <p class="title-1">
        My Personal experience between differents enterprices
      </p>
    </div>
  </div>

  <div class="cards-section">
    <mat-card class="card">
      <div class="card-body">

        <p class="company-title"> NTTDATA CHILE CENTERS</p>
        <P class="job-title"> Centers Junior</P>
        <p class="date-title"> Feb 2022 - Actualidad </p>
        <p class="total-time-title"> 1 año</p>
        <img
        class="card-img"
        src="https://www.logo.wine/a/logo/NTT_Data/NTT_Data-Logo.wine.svg"
      />
      </div>

    </mat-card>
    <mat-card class="card">
        <div class="card-body">
  
          <p class="company-title"> NTTDATA CHILE CENTERS</p>
          <P class="job-title"> Practica Pofesional</P>
          <p class="date-title"> Dic 2021 - Actualidad </p>
          <p class="total-time-title"> 3 meses</p>
          <img
          class="card-img"
          src="https://www.logo.wine/a/logo/NTT_Data/NTT_Data-Logo.wine.svg"
        />
        </div>
  
      </mat-card>
<!-- TODO queda pendiente agregar la estructura de datos en un archivo separado para hacer mas dinamica la agregacion de nuevos registros-->
  
  </div>
 
</div>
